n8n/workflows/geo-monitor-digest.json
{
  "name": "GEO Monitor — Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "id": "78260f0d-4b36-40d6-8c78-26eef5a9f421",
      "name": "Schedule Trigger",
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GEO_MONITOR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "probes",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "id": "895dcfe1-1c2c-4c5a-bd3b-539b38034f85",
      "name": "Read Probes",
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9WHOMBYYUgMORHkW",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r.run_date && r.query_id);\n\nconst dates = [...new Set(rows.map(r => r.run_date))].sort().reverse();\nconst cur = dates[0], prev = dates[1] || null;\nconst curRows  = rows.filter(r => r.run_date === cur);\nconst prevRows = prev ? rows.filter(r => r.run_date === prev) : [];\n\nconst isYes = r => String(r.mentioned).toUpperCase() === 'YES';\nconst parse = v => { try { return JSON.parse(v || '[]'); } catch (e) { return []; } };\n\n// ---- 1. Mention rate per intent bucket (audit KPI #1) ----\nconst BUCKETS = ['brand', 'category', 'comparison', 'problem'];\n// Audit baseline for the Claude engine (14 Jul 2026, appendix A3)\nconst BASELINE = { brand: [6,6], category: [2,7], comparison: [1,4], problem: [0,3] };\n\nconst rate = (rs, b) => {\n  const s = rs.filter(r => r.intent === b);\n  return { m: s.filter(isYes).length, t: s.length };\n};\nconst buckets = BUCKETS.map(b => {\n  const c = rate(curRows, b), p = prev ? rate(prevRows, b) : null;\n  return { bucket: b, cur: `${c.m}/${c.t}`,\n           prev: p ? `${p.m}/${p.t}` : '—',\n           baseline: `${BASELINE[b][0]}/${BASELINE[b][1]}`,\n           delta: p ? c.m - p.m : 0 };\n});\nconst overallCur = curRows.filter(isYes).length;\n\n// ---- 2. Share of voice vs key competitors (audit KPI #2) ----\nconst SOV = ['Pixformance', 'EGYM', 'milon', 'Proxomed', 'HUR', 'Technogym'];\nconst sov = SOV.map(bn => ({\n  brand: bn,\n  answers: curRows.filter(r => parse(r.brands).some(x => String(x).toLowerCase().includes(bn.toLowerCase()))).length\n}));\n\n// ---- 3. Status flips (alert trigger) ----\nconst prevMap = Object.fromEntries(prevRows.map(r => [r.query_id, isYes(r)]));\nconst flips = prev ? curRows\n  .filter(r => r.query_id in prevMap && prevMap[r.query_id] !== isYes(r))\n  .map(r => ({ id: r.query_id, dir: isYes(r) ? 'GAINED ✅' : 'LOST 🔴', q: r.query })) : [];\n\n// ---- 4. New competitor brands in answers (alert trigger) ----\nconst brandSet = rs => new Set(rs.flatMap(r => parse(r.brands).map(x => String(x))));\nconst newBrands = prev ? [...brandSet(curRows)].filter(b => !brandSet(prevRows).has(b)) : [];\n\n// ---- 5. New cited source domains (audit KPI #3 — do our placements enter?) ----\nconst domains = rs => new Set(rs.flatMap(r => parse(r.cited_sources))\n  .map(u => { try { return new URL(u).hostname.replace(/^www\\./, ''); } catch (e) { return null; } })\n  .filter(Boolean));\nconst newDomains = prev ? [...domains(curRows)].filter(d => !domains(prevRows).has(d)) : [];\nconst newThirdParty = newDomains.filter(d => !d.includes('pixformance'));\n\n// ---- Alert logic ----\nconst lostFlips = flips.filter(f => f.dir.startsWith('LOST'));\nconst alert = lostFlips.length > 0 || newBrands.length >= 3;\nconst subject = (alert ? '⚠️ ' : '✅ ') +\n  `GEO Monitor ${cur} — ${overallCur}/${curRows.length} mentions` +\n  (flips.length ? ` · ${flips.length} flip(s)` : '');\n\n// ---- Email body (HTML) ----\nconst row = c => `<tr>${c.map(x => `<td style=\"padding:4px 10px;border:1px solid #ddd\">${x}</td>`).join('')}</tr>`;\nlet html = `<h2>GEO Monitor — ${cur}</h2>\n<p>Engine: claude-api · vs previous run: ${prev || 'first run'}</p>\n<h3>Mention rate by intent</h3>\n<table style=\"border-collapse:collapse\">${row(['Bucket','This week','Last week','Audit baseline','Δ'])}\n${buckets.map(b => row([b.bucket, b.cur, b.prev, b.baseline, (b.delta>0?'+':'')+b.delta])).join('')}</table>\n<h3>Share of voice (answers naming each brand)</h3>\n<table style=\"border-collapse:collapse\">${sov.map(s => row([s.brand, s.answers])).join('')}</table>`;\nif (flips.length)      html += `<h3>Status flips</h3><ul>${flips.map(f=>`<li><b>${f.dir}</b> — ${f.id}: ${f.q}</li>`).join('')}</ul>`;\nif (newBrands.length)  html += `<h3>New brands in answers</h3><p>${newBrands.join(' · ')}</p>`;\nif (newThirdParty.length) html += `<h3>New third-party sources cited</h3><p>${newThirdParty.join(' · ')} ← check if our placements are landing</p>`;\nhtml += `<p style=\"color:#888\">Baseline = audit of 14 Jul 2026. Single runs are directional; watch the trendline.</p>`;\n\nreturn [{ json: { subject, html, alert, run_date: cur } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "8aac9c42-d849-45a9-9173-6abe85eb5fea",
      "name": "Compute Digest",
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { name: 'GEO Monitor', email: 'marketing@pixformance.com' }, to: [{ email: 'davi@pixformance.com' }], subject: $json.subject, htmlContent: $json.html }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "f08ab1b3-c853-4ebc-ba47-f1218a24111e",
      "name": "Send Digest (Brevo)",
      "position": [
        440,
        0
      ],
      "retryOnFail": false
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Probes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Probes": {
      "main": [
        [
          {
            "node": "Compute Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Digest": {
      "main": [
        [
          {
            "node": "Send Digest (Brevo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  }
}